body.container{
    height:913px;
    width:1580px;
    display: block;
    background-color: black;
    font-family: Lato;
    


}
@media and (min-width: 480px) {

nav.navbar{
    margin: 0;
    
    padding-right: 20px;
    background-image:none;
    background-color: black;
    border-color: green;
    color:lightgreen;    
    }

div.container-fluid{
    display:flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0 ;


}


/* make sidebar nav vertical */ 
/*@media screen and(min-width: 480px) {*/
div.bloc1 {
  float:left;
  background-color:black;
  width:250px;
  height:1000px;

    
}



.titre {
  color:#404040;
  opacity:1;

}

ol{
  display: flex;
  flex-direction: column;
  color:white;
  list-style-type: none;
  padding-left: 0;

}
div.row li{
  border: 2px solid;
  border-color: white;



}  



}

nav li {
  color:white;
  list-style-type:none;
  
  
}



form {
  padding-top:20px;
  padding-left:15px;
  
}

input {
  width:200px;
  border-radius:1px;
  border-color:#404040;
  color:white;
  background-color:#181818;
}

.img {
  width:140px;
  height:80px;
  padding-left:20px;
}

@media (min-width: 480px) {
div.block2 {
  height: 250px;
  width:890px;
  display:flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  


  }
}
div.col-md-3{
  position:justify;
  margin: 0 auto;
  
}

div.col-md-3 h5{
  color: white;


}

div.col-md-3 p{
color: white;


}


div.col-md-3 img {
  display:flex;
  align-items: flex-end;
  width:320px;
  height:193px;
  margin: 0;
  


}



h4 {
  color:white;
}
 
.barre p {
  color:white;
  display: flex;
  flex-direction: row;
  }

}



/*@media screen and (min-width: 480px) {*/
header.container{
    height: 150px;
    width: 890px;
    background-color: red;
    position:relative;
    
    
    }

/*@media screen and (min-width: 480px){*/
#container{
    
    height:620px;
    width:1024px;
    background-color: white;
    display:flex;
    justify-content: flex-start;
    
    align-self: flex-start;
    
    color:black;


  }

 section.row {
  display:flex;
  justify-content: center;

 }


div.col-sm-8 p{
    
    text-align: center;
    position: center;
    
    
  }

div.col-sm-8 h3{
    text-align: center;
    margin-top:50px;

  }

div.col-sm-8 iframe{
    position:center;



}  


div.col-sm-4{
    display: flex;
    justify-content: flex-end;    
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;

  }







  

  div.col-sm-4 img {
    margin-left: 40px;
  }

aside.container ul{
    list-style: none;

  }


aside.container h4{
    padding-top: 5px;
    border-top: 10px solid;
  }
h4.left{
  margin-left: 40px;
  border-top: 10px solid;
  margin-top:;
}

figcaption p{

  margin-left:50px;
}
      





}