body.container{
    height:1024px;
    width:890px;
    display: block;
    background-color: black;
    


}




/* make sidebar nav vertical */ 
@media (min-width: 768px) {
.bloc1 {
  background-color:black;
  width:250px;
  height:1000px;
  display:flex;
  justify-content: flex-start;

  align-items: flex-start;
  float:left;
}



.titre {
  color:#404040;
  opacity:1;

}

ol{
  display: block;
  



}

nav li {
  color:white;
  margin-right: 20px;
  list-style-type:none;
  border-bottom: 1px solid grey;
  border-width: 1px;

  
}

hr {
  color:#404040;

}

form {
  padding-top:20px;
  padding-left:15px;
  
}

input {
  width:200px;
  border-radius:1px;
  border-color:#404040;
  color:white;
  background-color:#181818;
}

.img {
  width:140px;
  height:80px;
  padding-left:20px;
}

.img1 {
  width:200px;
  height:140px;
}

.img2 {
  width:200px;
  height:140px;
}

.img3 {
  width:200px;
  height:140px;
}
h4 {
  color:white;
}

p {
  color:white;
}






header.container{
    height: 150px;
    width: 820px;
    background-color: red;
    position:relative;
    
    
    
}
@media (min-width: 768px){
#container{
    
    height:620px;
    width:820px;
    background-color: black;
    display:flex;
    justify-content: flex-start;
    align-content:flex-end;
    align-self: flex-start;
    
    color:whitesmoke;


  }


div.col-sm-8 p{
    float: right;
    
    position: center;
    
    
  }

div.col-sm-8 h1{
    text-align: center;
    margin-left:15px;

  }


div.col-sm-4{
    float:right;
    display: flex;
    justify-content: flex-end;    
    margin-left: 0;
    margin-right: 80px;
    margin-top: 150px;


  }

aside.container ul{
    list-style: none;


  }

}