body.container{
    height:913px;
    width:1280px;
    display: block;
    background-color: black;
    


}
@media (min-width: 800px) {

nav.navbar{
    width: 1280px;
    background-image:none;
    background-color: black;
    border-color: black;    


    }
}



/* make sidebar nav vertical */ 
@media (min-width: 800px) {
div.bloc1 {
  float:left;
  background-color:black;
  width:250px;
  height:1000px;
  display:flex;
  justify-content: flex-end;
  align-content: flex-start;
    
}



.titre {
  color:#404040;
  opacity:1;

}

ol{
  display: flex;
  flex-direction: column;
  color:white;
  list-style-type: none;
  padding-left: 0;

}
li{

border-bottom: 1px solid grey;
border-width: 1px;
border-
}  



}

nav li {
  color:white;
  list-style-type:none;
  
  
}



form {
  padding-top:20px;
  padding-left:15px;
  
}

input {
  width:200px;
  border-radius:1px;
  border-color:#404040;
  color:white;
  background-color:#181818;
}

.img {
  width:140px;
  height:80px;
  padding-left:20px;
}

div.block2 {
  display:flex;
  flex-wrap: nowrap;
  


}

div.col-md-3{
  display;flex;
  justify-content: space-around;
  
}

div.col-md-3 h5{
  color: white;


}

div.col-md-3 p{
color: white;


}


div.col-md-3 img {
  display:flex;
  align-content: space-between;
  width:349px;
  height:193px;
  


}



h4 {
  color:white;
}
 
.barre p {
  color:white;
  display: flex;
  flex-direction: row;
  }

}



@media (min-width: 768px) {
header.container{
    height: 150px;
    width: 890px;
    background-color: red;
    position:relative;
    
    
    }
}
@media (min-width: 768px){
#container{
    
    height:620px;
    width:820px;
    background-color: white;
    display:flex;
    justify-content: flex-start;
    align-content:flex-end;
    align-self: flex-start;
    
    color:black;


  }


div.col-sm-8 p{
    float: left;
    text-align: justify;
    text-indent: center;
    position: center;
    
    
  }

div.col-sm-8 h1{
    text-align: center;
    margin-left:15px;

  }


div.col-sm-4{
    float:right;
    display: flex;
    justify-content: flex-end;    
    margin-left: 0;
    margin-top: 50px;


  }

  div.col-sm-4 img {
    margin-left: 50px;
  }

aside.container ul{
    list-style: none;


  }
figcaption p{

  margin-left:50px;
}
      





}